<div class="container">
    <input style="margin-top: 80px;" class="inputs" [(ngModel)]="date" type="date" (change)="change_date()">
    <input class="desk_top inputs" [(ngModel)]="jsonFile" type="file" (input)="readJSON($event['target'])" accept="application/JSON">
    <div class="wrapper_prog">
        <div class="prog_line" [style]="'width:' + (complete / data.length) * 100 + '%'"></div>
        <p class="prog_text">{{complete}}/{{data.length}}</p>
    </div>
    <table class="table">
        <thead>
            <tr>
                <!-- <th>#</th> -->
                <th>Time</th>
                <th>Teams</th>
                <th class='desk_top'>H</th>
                <th class='desk_top'>X</th>
                <th class='desk_top'>A</th>
                <th class=''>HT/FT</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let element of data; let i = index">
                <tr (click)="showMatch(element)">
                    <td >
                        <div class="d-flex">
                            <div class="ribbon" [ngClass]="element['complete'] ? 'success':'failed'"></div>
                            {{element['start_time']}}
                        </div>
                    </td>
                    <td>
                        {{element['home_team']}} - {{element['away_team']}}
                    </td>
                    <td class='desk_top'>{{element['home_odds']}}</td>
                    <td class='desk_top'>{{element['draw_odds']}}</td>
                    <td class='desk_top'>{{element['away_odds']}}</td>
                    <td class=''>{{element['ht_result'] || '-'}} / {{element['ft_result'] || '-'}}</td>
                    <!-- <td class='text-right'>
                        <button class="btn btn-primary" (click)="showMatch(element)">Edit</button>
                    </td> -->
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>